<h1>Wedding Attendees</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Attendance</th>
      <th>Phone Number</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.attendance %></td>
        <td><%= user.phoneNum %></td>
        <td><%= user.message %></td>
        <td><%= link_to 'View', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure you want to give up your seat?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

